<h1>Brewery Beers Index Page</h1>
<%= link_to 'Create Beer', "/breweries/#{@brewery.id}/beers/new" %>
<% @beers.each do |beer| %>
  <p><%= beer.name %></p>
  <p><%= beer.style %></p>
  <p><%= beer.review_rating %></p>
  <p><%= beer.in_stock %></p>
<% end %>
