<p><a href="/breweries">Brewery Index</a></p>
<p><a href="/beers">Beers Index</a></p>
<h1><%= @brewery.name %></h1>
<p><a href="/breweries/<%="#{@brewery.id}"%>/beers">Beers at Brewery</a></p>
<p> Age: <%= @brewery.age %></p>
<p> Pet Friendly: <%= @brewery.pet_friendly %></p>
<div id="breweries<p> Number of Beers: <%= @brewery_beer_count %></p>"
