<p><a href="/breweries">Brewery Index</a></p>
<p><a href="/beers">Beers Index</a></p>
<h1><%= @brewery.name %></h1>
<p><a href="/breweries/<%="#{@brewery.id}"%>/beers">Beers at Brewery</a></p>
<p> Age: <%= @brewery.age %></p>
<p> Pet Friendly: <%= @brewery.pet_friendly %></p>
<p> Number of Beers: <%= @brewery_beer_count %></p>

<%= link_to 'Update Brewery', "/breweries/#{@brewery.id}/edit", method: :edit%>
<%= link_to 'Delete Brewery', "/breweries/#{@brewery.id}", method: :delete %>
