<p><a href="/breweries">Brewery Index</a></p>
<p><a href="/beers">Beers Index</a></p>
<h1><%= @beer.name %></h1>
<p> Style: <%= @beer.style %></p>
<p> Review Rating: <%= @beer.review_rating %></p>
<p> In Stock: <%= @beer.in_stock %></p>

<%= link_to 'Update Beer', edit_beer_path(@beer), method: :edit %>
<%= link_to 'Delete Beer', "/beers/#{@beer.id}", method: :delete %>
